# GNU C
*.a
*.o

# Watcom C
*.err
*.obj
*.lnk

# Python
__pycache__
*.pyc


# cp437 tool
cp437/cp437
cp437/cp437.exe
*_cp437

# UEFI
NvVars
pci?????.bin

# Binaries
*.exe
*.com
*.efi
pcireg/pcireg
ac97/ac97
PCIIDS_*.BIN
